body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

form {
    display: inline-block;          
    background: #fff;
}



button {
    width: 50px;
    height: 50px;
    margin: 5px;
}